
body{
    margin: 0px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 900;
    color:rgb(68, 61, 61);
}
h3{
    font-size: 30px;
    
    color:gray;
}
h2{
    font-size: 40px;
    color:gray
}
#grey{
    color: grey;
}
p{
    margin-bottom: 50px;
    font-size: 20px;
    letter-spacing: -0.02em;
}

#section-1{
    margin-left: 5%;
    margin-right: 10%;
}
.below-center{
    margin-top: 150px;
    align-items: center;


   
    
}


.orange-color{
    color: orange;
}
.button-link{
    color: white;
    background-image: linear-gradient(orange,tomato);
    margin: 10px 20px 10px 20px;
    padding:24px 32px 24px 32px ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 100px;
    
}
.half-width{
   
    width: 50%;
    
    padding: 50px 0px 120px 50px;
    
}
.flexible-section{
    display: flex;
   
}
.half-width img{
    padding-left: 90px;
    margin-top: 0px;
    
}
.half-width p{
    margin-top: px;
}
#section-2{
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: 1520px;
    margin-bottom: 100px;
    
    
    
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;

    
}
.followers-boxes{
    width:25%;
    padding-left:20px;
    margin-left: 50px;
    border-radius:40px ;
    margin-right: 50px;

}
#section-4{
    box-shadow:10px 10px 30px grey;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    border-radius: 40px;
    padding-bottom: 30px;

}

.recipe-delivery-boxes{
    box-shadow:10px 10px 30px grey;
    width:25%;
    padding-left:20px;
    margin-left: 50px;
    border-radius:40px ;
    margin-right: 50px;
    
}


.recipe-delivery-boxes img{
    width: 95%;
    padding-top: 5%;
    border-radius: 40px;
    
}
.section-3-5-6{
    margin-bottom: 150px;
}
#round-image{
    border-radius: 100px;
    border-style: unset;
    
    
}
footer{
    background-color: rgb(11, 11, 48);
    margin-bottom: 0%;
    padding-bottom: 2.5%;
    padding-top: 1.5%;
   
}
footer p{
    color: white;
}